@use "sass:math";
.cols {
  display: flex;
  margin: 0;
  padding: 0;
  &.col {
    flex: none;
    display: block;
    box-sizing: border-box;
    margin: 0;
  }
}
.fx {
  display: flex;
  &.fxWrap {
    flex-wrap: wrap;
  }
  .fxGrow {
    flex-grow: 1;
  }
  @each $x, $y in ((vertical, column), (horizontal, row)) {
    &.#{$x} {
      flex-direction: $y;
    }
    .fxFlex {
      flex: 1;
    }
  }
}
