@use "sass:math";
.fz {
  @for $x from 1 to 21 {
    &l#{$x} {
      font-size: (1+ ($x * 0.2)) rem;
    }
  }
  @for $x from 1 to 9 {
    &s#{$x} {
      font-size: (1-($x * 0.1)) rem;
    }
  }
}
.fw {
  @each $x,
    $y
      in (
        ("1" 80),
        ("2" 100),
        ("3" 250),
        ("4" 400),
        ("5" 600),
        ("6" 800),
        ("-light" 200),
        ("-bold" 600),
        ("-bolder" 800)
      )
  {
    &#{$x} {
      font-weight: $y;
    }
  }
}
