:root {
  --Color: rgba(255, 255, 255, 0.8666666667);
  --Color-a: #67f;
  --Color-a-hover: rgba(255, 255, 255, 0.8666666667);
  --BgColor: #222;
  --BgColorHover: #333;
  --ColorPrimary: #fff;
  --ColorPrimaryBg: #408ad4;
  --ColorPrimaryBorder: #408ad4;
  --ColorPrimaryHover: #25609b;
  --ColorSuccess: #fff;
  --ColorSuccessBg: #549931;
  --ColorSuccessBorder: #549931;
  --ColorSuccessHover: #254c12;
  --ColorInfo: #fff;
  --ColorInfoBg: #333;
  --ColorInfoBorder: #333;
  --ColorInfoHover: #242222;
  --ColorWarning: #fff;
  --ColorWarningBg: #e19727;
  --ColorWarningBorder: #e19727;
  --ColorWarningHover: #83550f;
  --ColorDanger: #fff;
  --ColorDangerBg: #e05656;
  --ColorDangerBorder: #e05656;
  --ColorDangerHover: #942f2f;
  font-size: 1rem;
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5rem;
  font-weight: 400;
  color-scheme: light dark;
  color: var(--Color);
  background-color: var(--BgColor);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    --Color: rgba(255, 255, 255, 0.8666666667);
    --Color-a: #67f;
    --Color-a-hover: rgba(255, 255, 255, 0.8666666667);
    --BgColor: #222;
    --BgColorHover: #333;
    --ColorPrimary: #fff;
    --ColorPrimaryBg: #408ad4;
    --ColorPrimaryBorder: #408ad4;
    --ColorPrimaryHover: #25609b;
  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --Color: rgba(0, 0, 0, 0.8666666667);
    --Color-a: #980;
    --Color-a-hover: rgba(0, 0, 0, 0.8666666667);
    --BgColor: #ddd;
    --BgColorHover: #ccc;
    --ColorPrimary: #000;
    --ColorPrimaryBg: #bf752b;
    --ColorPrimaryBorder: #bf752b;
    --ColorPrimaryHover: #da9f64;
  }
}
/* For browsers that support automatic dark/light mode
   As well as system colors, set those */
@supports (color-scheme: light dark) and (background-color: Canvas) and (color: CanvasText) {
  :root {
    --Color: CanvasText;
    --BgColor: Canvas;
  }
}
/* For Safari on iOS. Hacky, but it works. */
@supports (background-color: -apple-system-control-background) and (color: text) {
  :root {
    --Color: text;
    --BgColor: -apple-system-control-background;
  }
}
a {
  font-weight: 500;
  color: var(--Color-a);
  text-decoration: inherit;
}
a:hover {
  color: var(--Color-a-hover);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  width: 98%;
  margin: auto;
}

.btn {
  --ColorBtn: var(--Color);
  --ColorBtnBg: linear-gradient(var(--BgColor), var(--BgColor), var(--BgColor));
  --ColorBtnBorder: var(--Color);
  --ColorBtnHover: linear-gradient(var(--BgColorHover), var(--BgColorHover), var(--BgColorHover));
  --RadiusBtnBorder: 0.3rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
  cursor: pointer;
  color: var(--ColorBtn);
  text-align: center;
  box-sizing: border-box;
  outline: none;
  font-weight: 400;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  vertical-align: middle;
  background: var(--ColorBtnBg);
  border: thin solid var(--ColorBtnBorder);
  padding: 0.3rem 1rem;
  font-size: 1rem;
  border-radius: var(--RadiusBtnBorder);
  transition: all 1s ease-in-out;
}
.btn + .btn {
  margin-left: 0.4rem;
}
.btn.plain {
  --ColorBtnBg: var(--BgColor);
  --ColorBtn: var(--ColorBtnBorder);
}
.btn.plain:hover {
  --ColorBtn: var(--ColorBtn);
}
.btn.round {
  --RadiusBtnBorder: 2rem;
}
.btn:where(:hover, :focus) {
  background: var(--ColorBtnHover);
  transition: opacity 3s ease-in-out;
}
.btn.primary {
  --ColorBtn: var(--ColorPrimary);
  --ColorBtnBg: linear-gradient(var(--ColorPrimaryBg), var(--ColorPrimaryBg), var(--ColorPrimaryBg));
  --ColorBtnBorder: var(--ColorPrimaryBorder);
  --ColorBtnHover: linear-gradient(var(--ColorPrimaryHover), var(--ColorPrimaryHover), var(--ColorPrimaryHover));
}
.btn.primary.gradient {
  --ColorBtnBg: linear-gradient(var(--ColorPrimaryBg), #222, var(--ColorPrimaryBg));
  --ColorBtnHover: linear-gradient(var(--ColorPrimaryHover), #222, var(--ColorPrimaryHover));
}
.btn.primary.plain {
  --ColorBtnBg: var(--BgColor);
  --ColorBtn: var(--ColorBtnBorder);
}
.btn.primary.plain:hover {
  --ColorBtn: var(--ColorPrimary);
}
.btn.info {
  --ColorBtn: var(--ColorInfo);
  --ColorBtnBg: linear-gradient(var(--ColorInfoBg), var(--ColorInfoBg), var(--ColorInfoBg));
  --ColorBtnBorder: var(--ColorInfoBorder);
  --ColorBtnHover: linear-gradient(var(--ColorInfoHover), var(--ColorInfoHover), var(--ColorInfoHover));
}
.btn.info.gradient {
  --ColorBtnBg: linear-gradient(var(--ColorInfoBg), #222, var(--ColorInfoBg));
  --ColorBtnHover: linear-gradient(var(--ColorInfoHover), #222, var(--ColorInfoHover));
}
.btn.info.plain {
  --ColorBtnBg: var(--BgColor);
  --ColorBtn: var(--ColorBtnBorder);
}
.btn.info.plain:hover {
  --ColorBtn: var(--ColorInfo);
}
.btn.success {
  --ColorBtn: var(--ColorSuccess);
  --ColorBtnBg: linear-gradient(var(--ColorSuccessBg), var(--ColorSuccessBg), var(--ColorSuccessBg));
  --ColorBtnBorder: var(--ColorSuccessBorder);
  --ColorBtnHover: linear-gradient(var(--ColorSuccessHover), var(--ColorSuccessHover), var(--ColorSuccessHover));
}
.btn.success.gradient {
  --ColorBtnBg: linear-gradient(var(--ColorSuccessBg), #222, var(--ColorSuccessBg));
  --ColorBtnHover: linear-gradient(var(--ColorSuccessHover), #222, var(--ColorSuccessHover));
}
.btn.success.plain {
  --ColorBtnBg: var(--BgColor);
  --ColorBtn: var(--ColorBtnBorder);
}
.btn.success.plain:hover {
  --ColorBtn: var(--ColorSuccess);
}
.btn.warning {
  --ColorBtn: var(--ColorWarning);
  --ColorBtnBg: linear-gradient(var(--ColorWarningBg), var(--ColorWarningBg), var(--ColorWarningBg));
  --ColorBtnBorder: var(--ColorWarningBorder);
  --ColorBtnHover: linear-gradient(var(--ColorWarningHover), var(--ColorWarningHover), var(--ColorWarningHover));
}
.btn.warning.gradient {
  --ColorBtnBg: linear-gradient(var(--ColorWarningBg), #222, var(--ColorWarningBg));
  --ColorBtnHover: linear-gradient(var(--ColorWarningHover), #222, var(--ColorWarningHover));
}
.btn.warning.plain {
  --ColorBtnBg: var(--BgColor);
  --ColorBtn: var(--ColorBtnBorder);
}
.btn.warning.plain:hover {
  --ColorBtn: var(--ColorWarning);
}
.btn.alert {
  --ColorBtn: var(--ColorAlert);
  --ColorBtnBg: linear-gradient(var(--ColorAlertBg), var(--ColorAlertBg), var(--ColorAlertBg));
  --ColorBtnBorder: var(--ColorAlertBorder);
  --ColorBtnHover: linear-gradient(var(--ColorAlertHover), var(--ColorAlertHover), var(--ColorAlertHover));
}
.btn.alert.gradient {
  --ColorBtnBg: linear-gradient(var(--ColorAlertBg), #222, var(--ColorAlertBg));
  --ColorBtnHover: linear-gradient(var(--ColorAlertHover), #222, var(--ColorAlertHover));
}
.btn.alert.plain {
  --ColorBtnBg: var(--BgColor);
  --ColorBtn: var(--ColorBtnBorder);
}
.btn.alert.plain:hover {
  --ColorBtn: var(--ColorAlert);
}
.btn.danger {
  --ColorBtn: var(--ColorDanger);
  --ColorBtnBg: linear-gradient(var(--ColorDangerBg), var(--ColorDangerBg), var(--ColorDangerBg));
  --ColorBtnBorder: var(--ColorDangerBorder);
  --ColorBtnHover: linear-gradient(var(--ColorDangerHover), var(--ColorDangerHover), var(--ColorDangerHover));
}
.btn.danger.gradient {
  --ColorBtnBg: linear-gradient(var(--ColorDangerBg), #222, var(--ColorDangerBg));
  --ColorBtnHover: linear-gradient(var(--ColorDangerHover), #222, var(--ColorDangerHover));
}
.btn.danger.plain {
  --ColorBtnBg: var(--BgColor);
  --ColorBtn: var(--ColorBtnBorder);
}
.btn.danger.plain:hover {
  --ColorBtn: var(--ColorDanger);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}
.cards .card {
  display: flex;
  flex-direction: column;
}
.cards .card .content {
  flex: 1;
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}
body > #app {
  height: 100%;
  width: 100%;
  margin: 0;
}

.conCols {
  display: flex;
  flex-direction: row;
  margin: 0;
}
.conCols > * {
  height: 99.7%;
}

.conRows {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.conRows > * {
  width: 99.7%;
}

.conElement {
  background-color: azure;
  border-radius: 3;
  border: 1px solid #ddd;
}

.conBody {
  background-color: aqua;
  flex: auto;
  width: 100%;
  height: 100%;
}

.cols {
  display: flex;
  margin: -0.4rem;
}
.cols.col {
  flex: none;
  display: block;
}

.fx {
  display: flex;
}
.fx.fxWrap {
  flex-wrap: wrap;
}
.fx .fxGrow {
  flex-grow: 1;
}
.fx .fxFlex {
  flex: 1;
}

.fzl1 {
  font-size: 1.2 rem;
}
.fzl2 {
  font-size: 1.4 rem;
}
.fzl3 {
  font-size: 1.6 rem;
}
.fzl4 {
  font-size: 1.8 rem;
}
.fzl5 {
  font-size: 2 rem;
}
.fzl6 {
  font-size: 2.2 rem;
}
.fzl7 {
  font-size: 2.4 rem;
}
.fzl8 {
  font-size: 2.6 rem;
}
.fzl9 {
  font-size: 2.8 rem;
}
.fzl10 {
  font-size: 3 rem;
}
.fzl11 {
  font-size: 3.2 rem;
}
.fzl12 {
  font-size: 3.4 rem;
}
.fzl13 {
  font-size: 3.6 rem;
}
.fzl14 {
  font-size: 3.8 rem;
}
.fzl15 {
  font-size: 4 rem;
}
.fzl16 {
  font-size: 4.2 rem;
}
.fzl17 {
  font-size: 4.4 rem;
}
.fzl18 {
  font-size: 4.6 rem;
}
.fzl19 {
  font-size: 4.8 rem;
}
.fzl20 {
  font-size: 5 rem;
}
.fzs1 {
  font-size: 0.9 rem;
}
.fzs2 {
  font-size: 0.8 rem;
}
.fzs3 {
  font-size: 0.7 rem;
}
.fzs4 {
  font-size: 0.6 rem;
}
.fzs5 {
  font-size: 0.5 rem;
}
.fzs6 {
  font-size: 0.4 rem;
}
.fzs7 {
  font-size: 0.3 rem;
}
.fzs8 {
  font-size: 0.2 rem;
}

.fw1 {
  font-weight: 80;
}
.fw2 {
  font-weight: 100;
}
.fw3 {
  font-weight: 250;
}
.fw4 {
  font-weight: 400;
}
.fw5 {
  font-weight: 600;
}
.fw6 {
  font-weight: 800;
}
.fw-light {
  font-weight: 200;
}
.fw-bold {
  font-weight: 600;
}
.fw-bolder {
  font-weight: 800;
}

.shadow {
  border: 1px solid #ccc;
  box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.2666666667);
  transition: box-shadow 0.5s ease-in-out;
}
.shadow:hover {
  box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.4);
}

.is1 {
  width: 4%;
}

.is2 {
  width: 8%;
}

.is3 {
  width: 12%;
}

.is4 {
  width: 16%;
}

.is5 {
  width: 20%;
}

.is6 {
  width: 24%;
}

.is7 {
  width: 28%;
}

.is8 {
  width: 32%;
}

.is9 {
  width: 36%;
}

.is10 {
  width: 40%;
}

.is11 {
  width: 44%;
}

.is12 {
  width: 48%;
}

.is13 {
  width: 52%;
}

.is14 {
  width: 56%;
}

.is15 {
  width: 60%;
}

.is16 {
  width: 64%;
}

.is17 {
  width: 68%;
}

.is18 {
  width: 72%;
}

.is19 {
  width: 76%;
}

.is20 {
  width: 80%;
}

.is21 {
  width: 84%;
}

.is22 {
  width: 88%;
}

.is23 {
  width: 92%;
}

.is24 {
  width: 96%;
}

.is25 {
  width: 100%;
}

.ism1 {
  min-width: 4%;
}

.ism2 {
  min-width: 8%;
}

.ism3 {
  min-width: 12%;
}

.ism4 {
  min-width: 16%;
}

.ism5 {
  min-width: 20%;
}

.ism6 {
  min-width: 24%;
}

.ism7 {
  min-width: 28%;
}

.ism8 {
  min-width: 32%;
}

.ism9 {
  min-width: 36%;
}

.ism10 {
  min-width: 40%;
}

.ism11 {
  min-width: 44%;
}

.ism12 {
  min-width: 48%;
}

.ism13 {
  min-width: 52%;
}

.ism14 {
  min-width: 56%;
}

.ism15 {
  min-width: 60%;
}

.ism16 {
  min-width: 64%;
}

.ism17 {
  min-width: 68%;
}

.ism18 {
  min-width: 72%;
}

.ism19 {
  min-width: 76%;
}

.ism20 {
  min-width: 80%;
}

.ism21 {
  min-width: 84%;
}

.ism22 {
  min-width: 88%;
}

.ism23 {
  min-width: 92%;
}

.ism24 {
  min-width: 96%;
}

.ism25 {
  min-width: 100%;
}

.isx1 {
  max-width: 4%;
}

.isx2 {
  max-width: 8%;
}

.isx3 {
  max-width: 12%;
}

.isx4 {
  max-width: 16%;
}

.isx5 {
  max-width: 20%;
}

.isx6 {
  max-width: 24%;
}

.isx7 {
  max-width: 28%;
}

.isx8 {
  max-width: 32%;
}

.isx9 {
  max-width: 36%;
}

.isx10 {
  max-width: 40%;
}

.isx11 {
  max-width: 44%;
}

.isx12 {
  max-width: 48%;
}

.isx13 {
  max-width: 52%;
}

.isx14 {
  max-width: 56%;
}

.isx15 {
  max-width: 60%;
}

.isx16 {
  max-width: 64%;
}

.isx17 {
  max-width: 68%;
}

.isx18 {
  max-width: 72%;
}

.isx19 {
  max-width: 76%;
}

.isx20 {
  max-width: 80%;
}

.isx21 {
  max-width: 84%;
}

.isx22 {
  max-width: 88%;
}

.isx23 {
  max-width: 92%;
}

.isx24 {
  max-width: 96%;
}

.isx25 {
  max-width: 100%;
}

.ml0 {
  margin-left: 0 rem;
}
.ml1 {
  margin-left: 0.25 rem;
}
.ml2 {
  margin-left: 0.5 rem;
}
.ml3 {
  margin-left: 0.75 rem;
}
.ml4 {
  margin-left: 1 rem;
}
.ml5 {
  margin-left: 1.25 rem;
}
.ml6 {
  margin-left: 1.5 rem;
}
.ml7 {
  margin-left: 1.75 rem;
}
.ml8 {
  margin-left: 2 rem;
}
.mt0 {
  margin-top: 0 rem;
}
.mt1 {
  margin-top: 0.25 rem;
}
.mt2 {
  margin-top: 0.5 rem;
}
.mt3 {
  margin-top: 0.75 rem;
}
.mt4 {
  margin-top: 1 rem;
}
.mt5 {
  margin-top: 1.25 rem;
}
.mt6 {
  margin-top: 1.5 rem;
}
.mt7 {
  margin-top: 1.75 rem;
}
.mt8 {
  margin-top: 2 rem;
}
.mr0 {
  margin-right: 0 rem;
}
.mr1 {
  margin-right: 0.25 rem;
}
.mr2 {
  margin-right: 0.5 rem;
}
.mr3 {
  margin-right: 0.75 rem;
}
.mr4 {
  margin-right: 1 rem;
}
.mr5 {
  margin-right: 1.25 rem;
}
.mr6 {
  margin-right: 1.5 rem;
}
.mr7 {
  margin-right: 1.75 rem;
}
.mr8 {
  margin-right: 2 rem;
}
.mb0 {
  margin-bottom: 0 rem;
}
.mb1 {
  margin-bottom: 0.25 rem;
}
.mb2 {
  margin-bottom: 0.5 rem;
}
.mb3 {
  margin-bottom: 0.75 rem;
}
.mb4 {
  margin-bottom: 1 rem;
}
.mb5 {
  margin-bottom: 1.25 rem;
}
.mb6 {
  margin-bottom: 1.5 rem;
}
.mb7 {
  margin-bottom: 1.75 rem;
}
.mb8 {
  margin-bottom: 2 rem;
}
.mlr0 {
  margin-left: 0 rem;
  margin-right: 0 rem;
}
.mlr1 {
  margin-left: 0.25 rem;
  margin-right: 0.25 rem;
}
.mlr2 {
  margin-left: 0.5 rem;
  margin-right: 0.5 rem;
}
.mlr3 {
  margin-left: 0.75 rem;
  margin-right: 0.75 rem;
}
.mlr4 {
  margin-left: 1 rem;
  margin-right: 1 rem;
}
.mlr5 {
  margin-left: 1.25 rem;
  margin-right: 1.25 rem;
}
.mlr6 {
  margin-left: 1.5 rem;
  margin-right: 1.5 rem;
}
.mlr7 {
  margin-left: 1.75 rem;
  margin-right: 1.75 rem;
}
.mlr8 {
  margin-left: 2 rem;
  margin-right: 2 rem;
}
.mtb0 {
  margin-top: 0 rem;
  margin-bottom: 0 rem;
}
.mtb1 {
  margin-top: 0.25 rem;
  margin-bottom: 0.25 rem;
}
.mtb2 {
  margin-top: 0.5 rem;
  margin-bottom: 0.5 rem;
}
.mtb3 {
  margin-top: 0.75 rem;
  margin-bottom: 0.75 rem;
}
.mtb4 {
  margin-top: 1 rem;
  margin-bottom: 1 rem;
}
.mtb5 {
  margin-top: 1.25 rem;
  margin-bottom: 1.25 rem;
}
.mtb6 {
  margin-top: 1.5 rem;
  margin-bottom: 1.5 rem;
}
.mtb7 {
  margin-top: 1.75 rem;
  margin-bottom: 1.75 rem;
}
.mtb8 {
  margin-top: 2 rem;
  margin-bottom: 2 rem;
}

.pl0 {
  padding-left: 0 rem;
}
.pl1 {
  padding-left: 0.25 rem;
}
.pl2 {
  padding-left: 0.5 rem;
}
.pl3 {
  padding-left: 0.75 rem;
}
.pl4 {
  padding-left: 1 rem;
}
.pl5 {
  padding-left: 1.25 rem;
}
.pl6 {
  padding-left: 1.5 rem;
}
.pl7 {
  padding-left: 1.75 rem;
}
.pl8 {
  padding-left: 2 rem;
}
.pt0 {
  padding-top: 0 rem;
}
.pt1 {
  padding-top: 0.25 rem;
}
.pt2 {
  padding-top: 0.5 rem;
}
.pt3 {
  padding-top: 0.75 rem;
}
.pt4 {
  padding-top: 1 rem;
}
.pt5 {
  padding-top: 1.25 rem;
}
.pt6 {
  padding-top: 1.5 rem;
}
.pt7 {
  padding-top: 1.75 rem;
}
.pt8 {
  padding-top: 2 rem;
}
.pr0 {
  padding-right: 0 rem;
}
.pr1 {
  padding-right: 0.25 rem;
}
.pr2 {
  padding-right: 0.5 rem;
}
.pr3 {
  padding-right: 0.75 rem;
}
.pr4 {
  padding-right: 1 rem;
}
.pr5 {
  padding-right: 1.25 rem;
}
.pr6 {
  padding-right: 1.5 rem;
}
.pr7 {
  padding-right: 1.75 rem;
}
.pr8 {
  padding-right: 2 rem;
}
.pb0 {
  padding-bottom: 0 rem;
}
.pb1 {
  padding-bottom: 0.25 rem;
}
.pb2 {
  padding-bottom: 0.5 rem;
}
.pb3 {
  padding-bottom: 0.75 rem;
}
.pb4 {
  padding-bottom: 1 rem;
}
.pb5 {
  padding-bottom: 1.25 rem;
}
.pb6 {
  padding-bottom: 1.5 rem;
}
.pb7 {
  padding-bottom: 1.75 rem;
}
.pb8 {
  padding-bottom: 2 rem;
}
.plr0 {
  padding-left: 0 rem;
  padding-right: 0 rem;
}
.plr1 {
  padding-left: 0.25 rem;
  padding-right: 0.25 rem;
}
.plr2 {
  padding-left: 0.5 rem;
  padding-right: 0.5 rem;
}
.plr3 {
  padding-left: 0.75 rem;
  padding-right: 0.75 rem;
}
.plr4 {
  padding-left: 1 rem;
  padding-right: 1 rem;
}
.plr5 {
  padding-left: 1.25 rem;
  padding-right: 1.25 rem;
}
.plr6 {
  padding-left: 1.5 rem;
  padding-right: 1.5 rem;
}
.plr7 {
  padding-left: 1.75 rem;
  padding-right: 1.75 rem;
}
.plr8 {
  padding-left: 2 rem;
  padding-right: 2 rem;
}
.ptb0 {
  padding-top: 0 rem;
  padding-bottom: 0 rem;
}
.ptb1 {
  padding-top: 0.25 rem;
  padding-bottom: 0.25 rem;
}
.ptb2 {
  padding-top: 0.5 rem;
  padding-bottom: 0.5 rem;
}
.ptb3 {
  padding-top: 0.75 rem;
  padding-bottom: 0.75 rem;
}
.ptb4 {
  padding-top: 1 rem;
  padding-bottom: 1 rem;
}
.ptb5 {
  padding-top: 1.25 rem;
  padding-bottom: 1.25 rem;
}
.ptb6 {
  padding-top: 1.5 rem;
  padding-bottom: 1.5 rem;
}
.ptb7 {
  padding-top: 1.75 rem;
  padding-bottom: 1.75 rem;
}
.ptb8 {
  padding-top: 2 rem;
  padding-bottom: 2 rem;
}

.lh0 {
  line-height: 1;
}

.lh1 {
  line-height: 1.1;
}

.lh2 {
  line-height: 1.2;
}

.lh3 {
  line-height: 1.3;
}

.lh4 {
  line-height: 1.4;
}

.lh5 {
  line-height: 1.5;
}