.cols {
  display: flex;
  margin: -0.4rem;
}
.cols.col {
  flex: none;
  display: block;
}

.fx {
  display: flex;
}
.fx.fxWrap {
  flex-wrap: wrap;
}
.fx .fxGrow {
  flex-grow: 1;
}
.fx .fxFlex {
  flex: 1;
}